*{
    margin: 3px 0;
    padding: 0 10px;
    box-sizing: border-box;
    
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 94vh;
    display: flex;
    justify-content: center;
    background-image: url('../../Assets/images/images\ \(18\).jpeg') ;
    background-size: cover;
    align-items: center;
    
}

.rooter{
    justify-self: center;
    align-self: center;
    width: 45%;
    height: 82vh;
    margin-top: 40px;    
}

.Lgn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: start;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 20px;
    color: azure;
}

.Nw{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.Nw a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(7, 92, 204);
    margin-left: 70px;
}

#hr{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;

}

#hr1{
    width: 38%;
    height: 0;
    border: 0.4px solid white;
}

#hr2{
    width: 38%;
    height: 0;
    border: 0.4px solid white;
}

.google{
   text-align: center;
   margin-top: 15px;
   margin-left:30px;
   margin-bottom: 20px;
   cursor: pointer;

}

a{
   text-decoration: none;
    color: black;
}

.txt{
    width: 80%;
    height: 7vh;
    margin-left: 50px;
    border: 0px solid;
    border-radius: 5px;
    
}

.psd{
    margin-left: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    /* margin-top: 100px; */
    
}

.pull{
    display: flex;
    margin-left: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 10px;
}

.rem{
    margin-left: 45px;
    color: rgb(7, 92, 204);
    cursor: pointer;
}

.sub-btn{
    width: 80%;
    height: 7vh;
    margin-left: 10px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 20px;
    background-color: rgba(8, 106, 253, 0.822);
    border: 0px;
    margin-left: 45px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.policy{
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 13px;
    margin-left: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rr{
    color: rgb(7, 92, 204);
    width: 10%;
    cursor: pointer;

}

@media(max-width:768px){
    .rooter{
        width: 90%;
        margin: 0 auto;
        height:96vh;
    }
}