*{
    margin: 5px 0;
    padding: 0 5px;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 90vh;
    display: flex;
    justify-content: center;
    background-image: url('../../Assets/images/images\ \(18\).jpeg') ;
    background-size: cover;
    align-items: center;
}


.container1{
    justify-self: center;
    align-items: center;
    border-radius: 10px;
    width: 45%;
    height: 80vh;
    margin-top: 60px;
}

.gate{
    text-align: center;
    margin-top: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    margin-bottom: 10px;
}

.form{
    margin-left: 90px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.txt{
    width: 70%;
    height: 7vh;
    margin-left: 90px;
    border: 0px;
    border-radius: 5px;

}

.sub-btn{
    width: 68%;
    height: 6vh;
    margin-left: 90px;
    background-color: rgb(17, 110, 250, 0.822);
    border: 0px;
    margin-top: 8px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}    

@media(max-width:768px){
    .container1{
        width: 90%;
        margin: 0 auto;
        height:75vh;
    }
}