<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="product.css">
</head>
<body>
   <header>
    <nav>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </nav>
   </header> 
   <div class="categories">
    <h2>Footwear categories</h2>
    <p>Feel Free T o Make Your </p>
   </div>

   <div class="whole">
    <h2>Designer Shoes For You</h2>
   </div>
    <div class="container">
        <div class="cont-1">
            <img src="img/men shoe5.jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Men Designer Shoes</p><p>Price: $500</p>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="img/men shoe10.jpg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Men Designer Shoes</p><p>Price: $600</p>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="img/men shoe7.jpg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Men Designer Shoes</p><p>Price: $1000</p>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="img/men shoe3.jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Men Designer Shoes</p><p>Price: $560</p>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="img/men shoe9.jpg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Men Designer Shoes</p><p>Price: $500</p>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit" value="Add to Cart"></a>
            
        </div>
    </div>
    <div class="whole">
        <h2>Flat Footwear For You</h2>
    </div>
    <div class="container1">
        <div class="cont-1">
            <img src="img/images (12).jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Flat Footwear</p><p>Price: $300</p>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="img/images (26).jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Men Flatwear</p><p>Price: $500</p>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit" value="Add to Cart"></a>
        </div>
        <div class="cont-1">
            <img src="img/ff4d9ad3-1ba1-442b-9b76-5ccb6582c9e0.5c87cd8bb1f726f1a66defb07345ab07.jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Ladies Flatwear</p><p>Price: $500</p>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="img/images (16).jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p></p><p>Price: $500</p>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit" value="Add to Cart"></a>
            
        </div>
        <div class="cont-1">
            <img src="img/images (18).jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Men Designer Shoes</p><p>Price: $500</p>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit" value="Add to Cart"></a>
            
        </div>
    </div>
    <div class="">
        <h2>Female Shoes</h2>
    </div>
    <div class="container2">
        <div class="">
            <img src="img/f_designer1 - Copy.jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Men Designer Shoes</p><p>Price: $500</p>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit" value="Add to Cart"></a>
              
        </div>
        <div class="">
            <img src="img/f_designer5 - Copy.jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Men Designer Shoes</p><p>Price: $500</p>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit" value="Add to Cart"></a>
            
        </div>
        <div class="">
            <img src="img/f_designer9 - Copy.jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Men Designer Shoes</p><p>Price: $500</p>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit" value="Add to Cart"></a>
            
        </div>
        <div class="">
            <img src="img/f_designer4 - Copy.jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Men Designer Shoes</p><p>Price: $500</p>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit" value="Add to Cart"></a>
            
        </div>
        <div class="">
            <img src="img/f_designer3 - Copy.jpeg" alt="men shoe" width="200"
            height="260" style="margin-bottom: 5px; border-radius: 10px;">
            <p>Men Designer Shoes</p><p>Price: $500</p>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i><br><br>
            <a href=""><input type="submit" value="Add to Cart"></a>
            
        </div>
    </div>

</body>
</html>