<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/Web_app/profile.css">
    <link rel="stylesheet" href="../../static/Web_app/base.css">
    <link rel="stylesheet" href="../../static/Web_app/styles.css">
</head>
<body>
    <Main>
        <H1>MY PROFILE</H1>
        <div class="all">
            
            <div class="pro">
                <h3>Add Customer Profile Picture</h3>
                <input type="file" accept="image/*" id="profile-piture" name="profile-piture" placeholder="User profile picture" required>
            </div>
            <div class="com">
                <div class="cp">
                    <h2>Customer Name</h2>
                    <input type=" text" id="underline-input" ><br>
                </div>
                <br>
                <hr>
                <hr>
                <div class="p">
                    <h2>Customer Description  </h2>
                    <input type="text"  id="underline-input">
                </div>
            </div>
        </div>
        <hr>
        <div class="D">
            <div class="G">
                <h1.3>Demographic</h1.3>
                <br>
                <br>
                
               
                Age: <input type="text" id="underline-input"> <br>
                Gender: <input type="text" id="underline-input"> <br>
                Marital status: <input type="text" id="underline-input"> <br>
                Ethinicity: <input type="text" id="underline-input"> <br>
                Job title: <input type="text" id="underline-input"> <br>
                Income: <input type="text" id="underline-input"> <br>
                Education: <input type="text" id="underline-input"> <br>
                    
               

                
            </div>
            <div class="ccc">
                <h1.3>Product/service used</h1.3>
                <input type="text" id="underline-input" >
            </div>
        </div>
        <hr>
    
    </Main>
</body>
</html>