<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Page</title>
    <link rel="stylesheet" href="../../static/css/checkout.css">
    <!-- <link rel="stylesheet" href="../../static/Web_app/base.css"> -->
    <!-- <link rel="stylesheet" href="../../static/Web_app/styles.css"> -->
    <!-- <link rel="stylesheet" href="checkout.css"> -->
</head>

<body>
    <div id="container1">
        <div class="cont8">
            <h2>Checkout</h2>
        </div>
        <div class="cont-3">
            <label for="">State:</label><br>
            <select name="Payment_method" id="Payment_method" required>
                <option value="State">Select State</option>
                <option value="Abia">Abia State</option>
                <option value="Paypal">Adamawa</option>
                <option value="Cash">Akwa Ibom</option>
                <option value="Cash">Anambra</option>
                <option value="Cash">Buchi</option>
                <option value="Cash">Benua</option>
                <option value="Cash">Borno</option>
                <option value="Cash">Bayesia</option>
            </select>
            <label for="">City:</label><br>
            <input type="City" placeholder="City" required><br>
            <label for="Street Address">Street Address:</label><br>
            <input type="street Address" placeholder="Street Address" required><br>
            <label for="Zip code">Zip code:</label><br>
            <input type="zip code" placeholder="Zip code" required><br>
            <label for="">Payment_method:</label><br>
            <select name="Payment_method" id="Payment_method" required>
                <option value="">--Select a method--</option>
                <option value="Card">Credit/Debit</option>
                <option value="Paypal">Paypal</option>
            </select>
        </div>
        <a href="pay.html"><input type="submit" class="btn" value="Confirm Purchase"></a>
    </div>
</body>
</html>