<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Page</title>
    <link rel="stylesheet" href="../../static/css/pay.css">
</head>
<body>
    <div class="container1">
        <div class="gate">
            <h2>Payment</h2>
            <p>Enter your Credit/Debit Card details</p>
        </div>
        <div class="form-body">
            <label for="" class="form">Card Number:</label><br>
            <input type="card number" class="txt" placeholder="Card Number"><br>
            <label for=""class="form">Expiry Date:</label><br>
            <input type="expiry date" class="txt" placeholder="MM/YY"><br>
            <label for="" class="form">CVV:</label><br>
            <input type="CVV" class="txt" placeholder="CVV">
        </div><br>
        <a href=""><input type="submit" class="sub-btn" value="Confirm Payment"></a>

    </div>
</body>
</html>