<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../../static/Web_app/base.css">
    <link rel="stylesheet" href="../../static/Web_app/styles.css">
    <link rel="stylesheet" href="../../static/css/Register.css">
</head>
<body>
  <div class="rooter">
    <div class="cont-1">
      <div class="cont-2">
        <h3>Welcome To MAX-CARES</h3>
      </div>
      <div class="cont-3">
        <h2>Create an account with MAX-CARES</h2>
      </div>
    </div>
    <div class="form-body">
      <label for="" class="psdo">First name</label><br>
      <input type="fname" class="text" placeholder="Firstname"><br>
      <label for="" class="psod">Last name</label><br>
      <input type="lname" class="tax" placeholder="Lastname"><br>
      <label for="Email" class="psod">Email</label><br>
      <input type="email" class="text" placeholder="Email"><br>
      <label for="password" class="psdo">Password</label><br>
      <input type="Password" class="tax" placeholder="Enter Password"><br>
      <label for="password" class="psod">Confirm Password</label><br>
      <input type="Password" class="text" placeholder="Confirm Password"><br>
    </div>
    <a href="login.html"><input type="submit" class="sub-btn" value="Sign In"></a>
  </div>
</body>
</html>