<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=hrH, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="product.css">
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<main>
    <!-- <div class="im">
        <img src="images (24).jpeg" alt="">
    </div> -->
   <div class="k"> 
        <div class="b">
            <h2>MAX-CARES COLLECTIONS <br>
                Welcome to the best collection of Watch.
            </h2>
            <h6>Here we offer you best and quility product </h6>
        </div>   
   </div>
   <br>
   <br>
   <div class="gf">
        <h3>Summer Ready Style</h3>
        <p>Embrace this season in style with our collection of ladies fashion, curated to keep <br>
        you looking effectlessly chic all summer long..</p>
        <button><a href="#">Start Shoping</a></button>
   </div>
   <br>
   <br>
   <div class="shop">
    <h2>Shop by Collection</h2>
   </div>
   <br>
   <br>
    <div class="ol">
        <div class="h">
            <img src="images (4).jpeg" alt=""> <br>
            <h2>Oris Aquis</h2>
            <p>$ 87.00</p>
            <p>⭐⭐⭐ <br>
            <button><a href="#">Shop-now</a></button>
            
        
        </div>
        <div class="h">
            <img src="images (3).jpeg" alt=""> <br>
            <h2>Tudor Pelagoss</h2>
            <p>$ 96.00</p>
            <p>⭐⭐⭐⭐ <br>
            <button><a href="#">Shop-now</a></button>
            
        </div>
        <div class="h">
            <img src="images (1).jpeg" alt=""> <br>
            
            <h2>Hublot Blog Bang</h2>
            <p>$ 66.00</p>
            <p>⭐⭐⭐ <br>
            <button><a href="#">Shop-now</a></button>
            
        </div>
        
    </div>
    <hr>
    <div class="q">
        <div class="w">
            <h2>New Stock</h2>
            <p>This are our newest shock with low cost ....Very cheap and Affortable</p>
        <!-- </div>
        <div class="tt">
            <div class="kl">
                <img src="images (28).jpeg" alt="">
            </div>
            
            <div class="s">
                <img src="download (1).jpg" alt="">
            </div>
            <div class="r">
                <img src="download.jpeg" alt="">
            </div>
            <div class="kn">
                <img src="OIP (25).jpg" alt="">
            </div>
            <br>
            <div class="ko">
                <img src="download - Copy.jpg" alt="">
            </div>
        </div> -->

    </div>
    <div class="slinder-container">
        <div class="slinder">
            <div class="harmony">
                <img src="images (28).jpeg" alt="image 1">
                <h2>Queen pics</h2>
                <p>$ 86.00</p>
                <p>⭐⭐⭐ <br>
               
                </p> 
                <h5> <button><a href="#">Add to Cart</a></button></h5>
               
            </div>
            <div class="harmony1">
                <img src="download (1).jpg" alt="image 2">
                <h2>Quenzy</h2>
                <p>$ 79.00</p>
                <p>⭐⭐⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>
            </div>
            <div class="harmony2">
                <img src="download.jpeg" alt="image 3">
                <h2>Clemzy</h2>
                <p>$ 124.00</p>
                <p>⭐⭐⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>

            </div>
            <div class="harmony3">
                <img src="OIP (25).jpg" alt="image 4">
                <h2>Clex</h2>
                <p>$ 65.00</p>
                <p>⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>
            </div>
            <div class="harmony4">
                <img src="download - Copy.jpg" alt="image 5">
                <h2>chaim</h2>
                <p>$ 55.40</p>
                <p>⭐⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>
            </div>
            <div class="harmony5">
                <img src="images (3).jpeg" alt="image 6">
                <h2>Flox</h2>
                <p>$ 76.00</p>
                <p>⭐⭐⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>
            </div>
            <div class="harmony6">
                <img src="images (10).jpeg" alt="image 7">
                <h2>Vlex</h2>
                <p>$ 89.00</p>
                <p>⭐⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>
            </div>
        </div>
    </div>
    <hr>
    <div class="lom">
        <div class="cy">
            <hr>
            <h5>NEW ARRIVALS </h5>
            <h3>New Print For Men</h3>
            <p>Shop Fresh designs : New Print Just Added</p>
            <button><a href="#">Shop-New</a></button>
            <hr>
            <hr>
        </div>
        
        
    </div>
    
    <div class="HED">
        <div class="HER">
           <p>
             Luxury watches may feature intricate <br>
              complications like tourbilons, minute repeaters, <br>
               or perpetual calenders. <br>
               ______
           </p>
           <p>Paise Dan</p> 

        </div>
        <div class="HEB">
            <div class="harmon">
                <img src="images (41).jpeg" alt="image 1">
                <h2>Rolex Submariner</h2>
                <p>$ 86.00</p>
                <p>⭐⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>
            </div>
            
            <div class="harmon1">
                <img src="images (37).jpeg" alt="image 2">
                <h2>Omega Seamaster</h2>
                <p>$ 99.00</p>
                <p>⭐⭐⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>
            </div>
            <div class="harmon2">
                <img src="images (44).jpeg" alt="image 3">
                <h2>Cartier Tank</h2>
                <p>$ 124.00</p>
                <p>⭐⭐⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>

            </div> <br>
            
        </div>
        
    </div>
    <div class="HED">
        <div class="HER">
            <p>
                Luxury watches are crafted with <br>
                 attention to detail and a focus on precision <br>

                 __________
            </p>
            <p>Joe Paul</p>
        </div>
        <div class="HEB">
            
            <div class="harmon3">
                <img src="OIP (9).jpg" alt="image 4">
                <h2>Breitling Navitimer</h2>
                <p>$ 95.00</p>
                <p>⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>
            </div>
            <div class="harmon4">
                <img src="download - Copy.jpg" alt="image 5">
                <h2>IWC Portugieser</h2>
                <p>$ 77.00</p>
                <p>⭐⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>
            </div>
            <div class="harmon5">
                <img src="images (40).jpeg" alt="image 6">
                <h2>Sinn 556</h2>
                <p>$ 76.00</p>
                <p>⭐⭐⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>
            </div>
            

        </div>
        
    </div>
    <hr>
    <hr>
    <div class="wb">
        <div class="g">
            <img src="images (42).jpeg" alt="">
        </div>
        <div class="nh">
            <h3>I love this!</h3>
            <p>⭐⭐⭐⭐⭐</p>
            <p>Am very much in love with this product... <br>
            Need to buy another one just incase</p>
            <h3>Promise Chioke</h3>

            <p>Clemzy Watch</p>
            <p>______</p>
        </div>
    </div>
    <hr>
    <hr>
    <hr>
    <div class="lom">
        <div class="cy">
            <hr>
            <h5>NEW ARRIVALS </h5>
            <h3>New Print For Ladies</h3>
            <p>Shop Fresh designs : New Print Just Added</p>
            <button><a href="#">Shop-New</a></button>
            <hr>
            <hr>
        </div>
        
        
    </div>
    
    <div class="HED">
        
        <div class="HEB">
            <div class="harmon">
                <img src="images (28).jpeg" alt="image 1">
                <h2>Rolex Datajust</h2>
                <p>$ 86.00</p>
                <p>⭐⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>
            </div>
            
            <div class="harmon1">
                <img src="images (22).jpeg" alt="image 2">
                <h2>Cartier Tank Solo</h2>
                <p>$ 110.00</p>
                <p>⭐⭐⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>
            </div>
            <div class="harmon2">
                <img src="images (30).jpeg" alt="image 3">
                <h2>Chanal J12</h2>
                <p>$ 114.00</p>
                <p>⭐⭐⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>

            </div> <br>
            
        </div>
        <div class="HER">
            <p>A Watch can be a sylish accessory <br>
                that complements an outfit.A watch can reflect <br>
                a woman's personality, taste, and style <br>
                __________

            </p>
            <p>Miracle Oral</p>

        </div>
    </div>
    <div class="HED">
        <div class="HEB">
            
            <div class="harmon3">
                <img src="images (29).jpeg" alt="image 4">
                <h2>Bulgari Serpenti</h2>
                <p>$ 65.00</p>
                <p>⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>
            </div>
            <div class="harmon4">
                <img src="images (13).jpeg" alt="image 5">
                <h2>Michael Kors Slim Runway</h2>
                <p>$ 66.00</p>
                <p>⭐⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>
            </div>
            <div class="harmon5">
                <img src="images (24).jpeg" alt="image 6">
                <h2>Omega Constellation</h2>
                <p>$ 76.00</p>
                <p>⭐⭐⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>
            </div>
     

        </div>
        <div class="HER">
            <p>
                A watch can symbolize independence and <br>
                 self-sufficiency. Wearing a watch can aid in <br>
                  planning and organization <br>
                  ______
            </p>
            <p>Chiamaka Paul</p>
        </div>
    </div>  
    <hr>
    <hr>
    <div class="wb">
        <div class="g">
            <img src="images (21).jpeg" alt="">
        </div>
        <div class="nh">
            <h3>I love this!</h3>
            <p>⭐⭐⭐⭐⭐</p>
            <p>This CLemzy set of Watch has become my favourite to wear... <br>
            Need to buy another one just incase</p>
            <h3>Uche Favour</h3>

            <p>Clemzy Watch</p>
            <p>______</p>
        </div>
    </div>
    <hr>
    <hr>
    <hr>
    <div class="lom">
        <div class="cy">
            <hr>
            <h5>NEW ARRIVALS </h5>
            <h3>New Print For Children</h3>
            <p>Shop Fresh designs : New Print Just Added</p>
            <button><a href="#">Shop-New</a></button>
            <hr>
            <hr>
        </div>
        
        
    </div>
    
    <div class="HED">
        <div class="HER">
            <p>
                Awatch can be a tool for teaching children how  <br>
                 to personal style and interests. Learning to tell time <br>
                  can also help children develop their math skills <br>
                  ______
            </p>
            <p>Favour Emeka</p>

        </div>
        <div class="HEB">
            <div class="harmon">
                <img src="download (2).jpeg" alt="image 1">
                <h2>ego Watch</h2>
                <p>$ 86.00</p>
                <p>⭐⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>
            </div>
            
            <div class="harmon1">
                <img src="download (4).jpeg" alt="image 2">
                <h2>Star Wars</h2>
                <p>$ 79.00</p>
                <p>⭐⭐⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>
            </div>
            <div class="harmon2">
                <img src="download (5).jpeg" alt="image 3">
                <h2>Nickelodeon Watch</h2>
                <p>$ 124.00</p>
                <p>⭐⭐⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>

            </div> <br>
            
        </div>
        
    </div>
    <div class="HED">
        <div class="HER">
            <p>
                A watch helps Children learn to tell time and <br>
                 mmanage their schedules. Wearing a watch can give Children a sense <br>
                  of independence and responsibiity. <br>
                  ______
            </p>
            <p>Grace Glory</p>
        </div>
        <div class="HEB">
            
            <div class="harmon3">
                <img src="download (7).jpeg" alt="image 4">
                <h2>Plex</h2>
                <p>$ 65.00</p>
                <p>⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>
            </div>
            <div class="harmon4">
                <img src="download (8).jpeg" alt="image 5">
                <h2>hlex</h2>
                <p>⭐⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>
            </div>
            <div class="harmon5">
                <img src="download (10).jpeg" alt="image 6">
                <h2>Zlex</h2>
                <p>$ 76.00</p>
                <p>⭐⭐⭐⭐</p>
                <h5> <button><a href="#">Add to Cart</a></button></h5>
            </div>
            

        </div>
        
    </div>
    <hr>
    <hr>
    <div class="wb">
        <div class="g">
            <img src="download (6).jpeg" alt="">
        </div>
        <div class="nh">
            <h3>I love this!</h3>
            <p>⭐⭐⭐⭐⭐</p>
            <p>This CLemzy set of Watch has become my favourite to wear... <br>
            Need to buy another one just incase</p>
            <h3>Nwachi Harmony</h3>

            <p>Clemzy Watch</p>
            <p>______</p>
        </div>
    </div>
    <hr>
    <hr>
    <hr>
</main>
</body>
</html>